.rich-text__h1,
.rich-text__h2 {
	font-weight: bold;
	margin: 8px 0;
}

.rich-text__h1 {
	font-size: 28px;
}

.rich-text__h2 {
	font-size: 24px;
}

.rich-text__h3 {
	font-weight: 600;
	font-size: 20px;
	margin: 16px 0;
}

.rich-text__ordered-list,
.rich-text__unordered-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.rich-text__ordered-list li,
.rich-text__unordered-list li {
	margin-bottom: 8px;
}

.rich-text__ordered-list li {
	list-style: decimal;
	margin-left: 16px;
}

.rich-text__bold,
.rich-text__italic {
	font-size: inherit;
	line-height: inherit;
}

.rich-text__hr {
	width: 100%;
	border: 1px solid #8e8e8e;
	margin: 32px 0;
}
