.rich-text {
  display: flex;
  flex-direction: column;

  & p {
    display: block;
  }

  & a {
    cursor: pointer;
  }

  &__ordered-list,
  &__unordered-list {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      margin-bottom: $spacing-xxxxs;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__ordered-list {
    & li {
      list-style: decimal;
      margin-left: $spacing-xxxs;
    }
  }

  &__bold,
  &__italic {
    font-size: inherit;
    line-height: inherit;
  }

  &__hr {
    width: 100%;
    border: 1px solid $med-grey;
    margin: $spacing-xs 0;
  }
}
